.game-container {
    height: 100%;    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .drill {
        font-size: 2rem;
    }

    #solutions {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 2rem;

        .button-answer {
            font-size: 1.2rem;
            min-width: 4.2rem;
            min-height: 3rem;
            margin: 0 0.8rem;
        }
    }

    progress {
       margin-top: 2rem;
    }

    #timer {
       margin-top: 1rem; 
    }
}