.game-container {
    height: 100%;    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .drill {
        margin: 1.5rem;
        font-size: 2rem;
    }

    #solutions {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .button-answer {
        font-size: 1.2rem;
        min-width: 4rem;
        min-height: 3rem;
    }

    progress {
        margin: 1.8rem;
    }

    #timer {
        margin-bottom: 1rem;
    }
}