.gameover-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        font-size: 10rem;
    }

    .finished-message {
        font-size: 2rem;
        direction: rtl;
        margin-top: 1rem;
    }

    #mistakes {
        font-size: 1.5rem;
        direction: rtl;
        margin-top: 0.6rem;
    }

    .buttons {
        width: 100%;
        direction: rtl;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

        #button-mistakes {
            margin-right: 1rem;
        }
    }

    .link-home {
        font-size: 0.9rem;
        border: none;
        padding: 0;
        margin: 0;
        background: unset;
        margin-top: 1.5rem;
    }
}