.game-container {
    height: 100%;    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .drill {
        font-size: 2.5rem;
    }

    #solutions {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 2rem;

        .button-answer {
            font-size: 1.5rem;
            min-width: 5rem;
            min-height: 4rem;
            margin: 0 0.8rem;
        }
    }

    progress {
       margin-top: 2.5rem;
    }

    #timer {
        font-size: 1.3rem;
        margin-top: 1.2rem; 
    }
}

@media only screen and (max-width: 570px) {
    .game-container {
        .drill {
            font-size: 2rem;
        }

        #solutions {
            margin-top: 1.8rem;

            .button-answer {
                font-size: 1.1rem;
                min-width: 4.3rem;
                min-height: 3.5rem;
                margin: 0 0.8rem;
            }
        }  

        progress {
            margin-top: 2rem;
        }

        #timer {
            font-size: 1.1rem;
            margin-top: 1rem; 
        }
    }
  }