* {
  box-sizing: border-box;
}

html {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

html, body, #root {
  width: 100%;
  height: 100%;
  color: rgba(255,255,255,0.85);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  border-spacing: 5px;
}

table, th, td {
  border: 1px solid rgba(255,255,255,0.6);
  border-collapse: collapse;
}

th, td {
  padding: 0.2rem 0.2rem 0.2rem 2rem;
  text-align: right;
}

button {
  cursor: pointer;
  font-weight: 400;
  color: inherit;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: rgba(255,255,255,0.125);
  border: 1px solid transparent;
  padding: .6rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2px;
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

button:hover {
  color: #a4d0ff;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0);
  border-radius: 2px;
  padding: 2.5rem 6rem;
  min-width: 500px;
}

.link {
  text-decoration: none;
  color: #a4d0ff;
}

.link:hover {
  color: #58a8ff;
}

progress {
  -moz-appearance: none;
  appearance: none;
  border: none; 
  background-color: transparent;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.85);
}

progress[value]::-webkit-progress-bar {
  background-color: transparent;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.85);
  border-radius: 2px;
}
 
progress[value]::-webkit-progress-value {
  background-color: #a4d0ff;
}

progress::-moz-progress-bar {
  background-color: #a4d0ff !important;
}

@media only screen and (max-width: 570px) {
  .card {
    padding: 2rem 0;
    width: 90%;
    min-width: unset;
  }
}